@media screen and (max-width:1150px) {
    section.container {
        display: grid;
        grid-template-columns: 100%;
    }

    article {
        padding: 0 17%;
    }

    aside {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .header {
        /* margin: 1.6rem 0; */
    }

    .parent {
        margin-right: .8rem;
    }

    .section {
        display: flex;
        width: 345%;
        height: auto;
    }

    .section>div {
        height: 300px;
        width: 100% !important;
    }

    .post img {
        height: 100% !important;
        object-fit: cover;
    }

    .text span {
        font-size: 1.1rem;
    }

    .boxex {
        margin: 2rem .8rem;
    }

    article {
        padding: 0 8%;
    }
}

@media screen and (max-width:768px) {
    nav {
        overflow-x: auto;
    }
}

@media screen and (max-width:700px) {
    .boxex {
        background-image: none;
        height: 255px;
    }

    .text {
        width: auto;
    }

    article {
        padding: 0 1rem;
    }
}